.tabactive {
  background-color: #6c7569;
}
.tabactive:hover {
  background-color: #6c7569;
}
.homecontainer {
  height: calc(100vh - 168px);
}
.profileimg {
  width: 150px;
  height: 150px;
  border-radius: 50%
}
.card-shadow:hover {
  box-shadow: 1px 1px 3px 2px rgb(42 42 42 / 25%)
}